<html>

<head>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <script src="vendor/jquery-3.3.1.slim.min.js"></script>
  <script src="vendor/vue.js"></script>
  <script src="main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>
  <div id="app">
    <div style="width: 100%; display: block;">

      <p>
        <span style="font-size: 18px;">Lines-Of-Code Written: {{ LoC.toFixed(2) }}</span>
        <span>Time: {{ printTime }}</span>
        <span>Money: {{money}} $</span>
      </p>

      <p>
        <button v-on:click="writeCode">Write Code(1 Click {{locPerTick.toFixed(2)}} Line Of Code)</button>
      </p>

      <p>
        <a v-if="achievements.at_100.done" href="#ex1" rel="modal:open">Browse online store</a>
        &nbsp;&nbsp;&nbsp;
        <a v-if="achievements.boughtFreelanceSubscr.done" href="#ex2" rel="modal:open">Browse freelance board ({{freelance.length}} jobs available now)</a></p>
      </p>

      <div class="container3" v-if="achievements.boughtFreelanceSubscr.done">
        <table v-if="achievements.boughtFreelanceSubscr.done">
          <thead>
            <tr>
              <th>
                Job
              </th>
              <th>
                LoC to finish
              </th>
              <th>
                Deadline(Hours)
              </th>
            </tr>
          </thead>
          <tbody v-if="activeFreelance.length >=1">
            <tr v-for="item in activeFreelance">
              <td>{{item.title}}</td>
              <td>{{item.LoC.toFixed(2)}}</td>
              <td>{{item.deadline}}</td>
            </tr>
          </tbody>
          <tbody v-if="activeFreelance.length ==0">
            <tr>
              <td colspan="3">no active jobs</td>
            </tr>
        </table>

      </div>

    </div>


    <hr />
    <div id="messages">

    </div>


    <div id="ex1" class="modal">
      <p v-for="item in shop">
        <button v-if="!item.bought" v-bind:id="item.id" v-on:click="buy">{{ item.name }}({{item.price}} $)</button>
      </p>

    </div>


    <div id="ex2" class="modal">
      <table v-if="achievements.boughtFreelanceSubscr.done">
        <thead>
          <tr>
            <th>
              Job
            </th>
            <th>
              LoC to finish
            </th>
            <th>
              Price
            </th>
          </tr>
        </thead>
        <tbody v-if="freelance.length >=1">
          <tr v-for="item in freelance">
            <td>{{item.title}}</td>
            <td>{{item.LoC.toFixed(2)}}</td>
            <td>{{item.price}}</td>
            <td><button v-bind:id="item.id" v-on:click="getJob">Take Job</button></td>
          </tr>
        </tbody>
        <tbody v-if="freelance.length ==0">
          <tr>
            <td colspan="3">no active jobs</td>
          </tr>
      </table>


    </div>

    <!-- Link to open the modal -->


  </div>
</body>

</html>
