table {
  border: 1px solid black;
  margin: 25px;
}

table caption {
  text-decoration-style: double;
  text-align: left;
}

.container3 {
  float: left;
  width: 99%;
  height: 150px;
  border: 1px solid black;
}

.container2 {
  float: left;
  width: 49%;
  height: 150px;
  border: 1px solid black;
}

.container1 {
  float: left;
  width: 24%;
  height: 150px;
  border: 1px solid black;
}

body{
  font-family: 'Courier New', Courier, monospace;
}
